<h1 mat-dialog-title>Change Password</h1>
<mat-dialog-content style="height: calc(100% - 96px);">
    <div *ngIf="passwordMismatch" class="error-box">
        New password and confirm password should match
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Enter Current Password</mat-label>
        <input [type]="oldPasswordVisible ? 'text' : 'password'" matInput [(ngModel)]="oldPassword" required #oldPasswordEle="ngModel">
        <mat-error *ngIf="oldPasswordEle.errors && (oldPasswordEle.dirty || oldPasswordEle.touched) && oldPasswordEle.errors.required">
            Current password is required
        </mat-error>
        <button mat-icon-button matSuffix *ngIf="oldPassword" (click)="oldPasswordVisible = !oldPasswordVisible">
            <mat-icon>visibility</mat-icon>
        </button> 
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter New Password</mat-label>
        <input [type]="newPasswordVisible ? 'text' : 'password'" matInput [(ngModel)]="newPassword" required minlength="8" #newPasswordEle="ngModel">
        <mat-error *ngIf="newPasswordEle.errors && (newPasswordEle.dirty || newPasswordEle.touched) && newPasswordEle.errors.required">
            New password is required
        </mat-error>
        <mat-error *ngIf="newPasswordEle.errors && (newPasswordEle.dirty || newPasswordEle.touched) && newPasswordEle.errors.minlength">
            Minimum password length should be greater or equal than 8
        </mat-error>
        <button mat-icon-button matSuffix *ngIf="newPassword" (click)="newPasswordVisible = !newPasswordVisible">
            <mat-icon>visibility</mat-icon>
        </button> 
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input [type]="confirmNewPasswordVisible ? 'text' : 'password'" matInput [(ngModel)]="confirmNewPassword" required minlength="8" #confirmNewPasswordEle="ngModel">
        <mat-error *ngIf="confirmNewPasswordEle.errors && (confirmNewPasswordEle.dirty || confirmNewPasswordEle.touched) && confirmNewPasswordEle.errors.required">
            Confirm password is required
        </mat-error>
        <mat-error *ngIf="confirmNewPasswordEle.errors && (confirmNewPasswordEle.dirty || confirmNewPasswordEle.touched) && confirmNewPasswordEle.errors.minlength">
            Minimum password length should be greater or equal than 8
        </mat-error>
        <button mat-icon-button matSuffix *ngIf="confirmNewPassword" (click)="confirmNewPasswordVisible = !confirmNewPasswordVisible">
            <mat-icon>visibility</mat-icon>
        </button> 
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" [disabled]="oldPasswordEle.invalid || newPasswordEle.invalid || confirmNewPasswordEle.invalid" (click)="change()" cdkFocusInitial>Change</button>
</mat-dialog-actions>