<div style="margin: 20px;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 main-table">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Master Header -->
        <ng-container matColumnDef="master-header">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="6" class="table-header-color"> 
            <span fxFlexFill>{{page}}</span>
          </th>
        </ng-container>

        <ng-container matColumnDef="quotationResponseId">
            <th mat-header-cell *matHeaderCellDef> Quotation Response Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="vendor">
            <th mat-header-cell *matHeaderCellDef> Vendor </th>
            <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef> Total Price </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Response Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date: 'd/M/yy'}} </td>
        </ng-container>

         <!-- Control Column -->
         <ng-container matColumnDef="control">
          <th mat-header-cell *matHeaderCellDef class="text-align-center"> Action </th>
          <td mat-cell *matCellDef="let element" class="text-align-center"> 
            <button mat-icon-button class="button-padding" (click)="viewQuotationResponse(element.id)">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="['master-header']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>