<div [formGroup]="group">
    <mat-form-field appearance="fill">
        <mat-label>{{ config.label }}</mat-label>
        <input matInput
        class="mat-control-value"
        [matDatepicker]="picker"
        [formControlName]="config.name"
        [required]="config.required"
        [min]="config?.minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!isValid(group.controls[config.name], config.errMsg)">{{message}}</mat-error>
    </mat-form-field>
</div>